{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Add {{ coin_data['currency_name'] }} to Portfolio</h1>
    <form method="POST" action="{{ url_for('app_routes.add_to_portfolio', coin_id=coin_data['crypto_id']) }}" class="mt-4">
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input 
                type="number" 
                step="any" 
                class="form-control" 
                id="quantity" 
                name="quantity" 
                placeholder="Enter quantity"
                required>
        </div>
        <button type="submit" class="btn btn-primary">Add to Portfolio</button>
    </form>
</div>
{% endblock %}

